doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")
    title project
    link(rel="stylesheet", href="./css/styles.css")
  body
    .page
      .page__header
        include ./lib/header/header
        //end header
      .page__review
        include ./lib/review/review
        //end review